<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Picnic with Att</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parallaxer.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <article data-key="home">
        <h1>Picnic with Att</h1>
    </article>
    <article data-key="engagement-ceremony">
        <h1>Engagement Ceremony</h1>
    </article>
    <article data-key="wedding-ceremony">
        <h1>Wedding Ceremony</h1>
    </article>
    <article data-key="wedding-party">
        <h1>Wedding Party</h1>
    </article>
    <article data-key="about">
        <h1>Credits</h1>
    </article>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>