$defatulAnimationSpeed: 500ms;

@mixin disable_selection() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($property, $speed) {
    -webkit-transition: $property ease $speed;
    -moz-transition: $property ease $speed;
    -ms-transition: $property ease $speed;
    -o-transition: $property ease $speed;
    transition: $property ease $speed;
}

@mixin transform($execution) {
    -webkit-transform: $execution;
    -moz-transform: $execution;
    -ms-transform: $execution;
    -o-transform: $execution;
    transform: $execution;
}