[data-key="home"] {
    .when {
        position: absolute;
        right: 50%;
        bottom: 50%;
        font-size: 96px;
        font-weight: 700;
        text-align: right;
        padding: 7px 20px;
        background-color: #ffcc00;
    }

    .countdown {
        position: absolute;
        right: 50%;
        top: 50%;
        font-size: 36px;
        font-weight: 700;
        color: #999;
        text-align: right;
        text-transform: uppercase;
        padding: 7px 20px;
        background-color: #000;

        span {
            color: #fff;
        }

        &[data-variation="end"] {
            font-size: 24px;
            background-color: #fff;
        }

        &[data-variation="now"] {
            font-size: 24px;
        }
    }
}

@media (max-width: 960px) {
    [data-key="home"] {
        .when {
            font-size: 48px;
            left: 0;
            right: auto;
            text-align: left;
        }

        .countdown {
            font-size: 24px;
            left: 0;
            right: auto;
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    [data-key="home"] {
        .when {
            font-size: 48px;
            top: auto;
            bottom: 40px;
            left: 0;
            right: 0;
            text-align: left;
        }

        .countdown {
            font-size: 24px;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
        }
    }
}